<div>
  <h2 id="page-heading" data-cy="ExchangeHeading">
    <span jhiTranslate="fbsApp.exchange.home.title">Exchanges</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="fbsApp.exchange.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-exchange"
        [routerLink]="['/exchange/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fbsApp.exchange.home.createLabel"> Create a new Exchange </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="exchanges?.length === 0">
    <span jhiTranslate="fbsApp.exchange.home.notFound">No exchanges found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="exchanges && exchanges.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="createdBy">
            <span jhiTranslate="fbsApp.exchange.createdBy">Created By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="createdDate">
            <span jhiTranslate="fbsApp.exchange.createdDate">Created Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedBy">
            <span jhiTranslate="fbsApp.exchange.lastModifiedBy">Last Modified By</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="lastModifiedDate">
            <span jhiTranslate="fbsApp.exchange.lastModifiedDate">Last Modified Date</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="formProfile.id">
            <span jhiTranslate="fbsApp.exchange.formProfile">Form Profile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="toProfile.id">
            <span jhiTranslate="fbsApp.exchange.toProfile">To Profile</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="book.id"><span jhiTranslate="fbsApp.exchange.book">Book</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let exchange of exchanges; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/exchange', exchange.id, 'view']">{{ exchange.id }}</a>
          </td>
          <td>{{ exchange.createdBy }}</td>
          <td>{{ exchange.createdDate | formatMediumDatetime }}</td>
          <td>{{ exchange.lastModifiedBy }}</td>
          <td>{{ exchange.lastModifiedDate | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="exchange.formProfile">
              <a [routerLink]="['/profile', exchange.formProfile?.id, 'view']">{{ exchange.formProfile?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="exchange.toProfile">
              <a [routerLink]="['/profile', exchange.toProfile?.id, 'view']">{{ exchange.toProfile?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="exchange.book">
              <a [routerLink]="['/book', exchange.book?.id, 'view']">{{ exchange.book?.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/exchange', exchange.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/exchange', exchange.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(exchange)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="exchanges && exchanges.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
